body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#halfdiv{
  width: 50%;
}

.drop-override {
  top: 30 !important;
  left: inherit !important;
  right: -3 !important;
}

.mark-highlight {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: yellow;
}

.mark-highlight.current {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: orange;
}

.input-group-addons{
  margin-bottom: 0;
  background-color: #ffffff !important;
}