body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#halfdiv{
  width: 50%;
}

.drop-override {
  top: 30 !important;
  left: inherit !important;
  right: -3 !important;
}